html{
    scroll-behavior: smooth;

}

@font-face {
    font-family: 'unifrakturmaguntiabook';
    src: url('Fonts/unifrakturmaguntia-webfont.woff2') format('woff2'),
         url('Fonts/unifrakturmaguntia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 600px) {

::-webkit-scrollbar {
    display: none;
  }

.body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }    
  }

body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    top: 0px;
    left: 0px;
    font-family: 'unifrakturmaguntiabook';
    font-size: x-large;
    position: relative;
}

h1{
    text-align: center;
}

h5{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

a{
}

#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.padding{
    padding: 0px 5px 0px 5px;
}

#changeFontFirstScreen{
    left: 10px;
    font-family: 'Libre Caslon Text', serif;
    font-size: medium;
    cursor: pointer;
}

.header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.wheelSelect{
    cursor: pointer;
    margin: 0px 5px 10px 5px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.manusDistinction{
    width: 20px;
    height: 20px;
    rotate: 90deg;
    display: none;
}

.wheelSelect:hover .manusDistinction{
    display: block;
}


.auguryChoose{
max-width: 1040px;
height: 75vh;
overflow: auto;
overflow-x: hidden;

}


/* .auguryChooseList::-webkit-scrollbar {
    display: none;
} */

/* .auguryChoose::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar-thumb {
    background-image: url('scrollThumb.png'); 
    height: 212px;
    border-radius: 50px;
  }

::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('scrollButtonUp.png'); 
    height: 24px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('scrollButtonDown.png'); 
    height: 24px;
}

::-webkit-scrollbar{
    background-color: transparent;
}

#auguryChooseList{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 5px;
}

#anguryChooseList span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerMenu{
    bottom: 10px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
}

#help{
    font-size: 5vh;
}

#auguryWheelPlace img{
    width: 100vw;
}

.wheel{
    width: 100vw;
    max-width: 600px;
}

.button{
    cursor: pointer;
}


.displayNumber{
    width: 100px;
    height: 50px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.displayMessage{
    width: 100%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}



#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 10vh;
    position: relative;
}


.buttonSpin{
    padding-top: 20px;
    text-align: center;
}

.screenCover{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Tło1.png");
    background-size: cover;
    background-attachment: inherit;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
}

.goToSecondWheelScreen{
    overflow: auto;
    scroll-behavior: auto;
    overflow-x: hidden;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    background-image: url("Tło1.png");
    background-size: cover;
    background-attachment: inherit;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.SecondWheelScreenGoBack{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.SecondWheelScreenGoBack img{
    height: 50px;
}

.centerFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1040px;
    padding-top: 30px;
}

#characterImage{
    max-height: 80vh;
    max-width: 80vw;
    box-shadow: 0 0 1px 1px #EDCFB2;
}

#animalContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 50px;
    padding-top: 10vh;
    position: relative;  
    transform: rotate(-90deg) translatey(20%);
}

#thirdScreen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.animalWheel{
    width: 120vw;
    max-width: 800px;
}

#displayAuguryCoordinates{
    width: 100%;
    border: 1px black solid;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */}

.fade{
    transition: opacity 1s ease;
}


