

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    user-select:none;
}



@font-face {
    font-family: 'beryliumregular';
    src: url('Fonts/Beryliumbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'unifrakturmaguntiabook';
    src: url('Fonts/unifrakturmaguntia-webfont.woff2') format('woff2'),
         url('Fonts/unifrakturmaguntia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 600px) {

::-webkit-scrollbar {
    display: none;
  }

.body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }    
  }

body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0px;
    left: 0px;
    font-family: 'beryliumregular';
    font-size: 26px;
    position: relative;
}

h1, h2, h4{
    text-align: center;
    margin: 0;
}


h5{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

p{
    margin: 0 5px 0 5px;
    font-size: medium;
    text-align: center;
}

a{
    text-decoration: none;
    color: #0061b3;
}

#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.padding{
    padding: 0px 5px 0px 5px;
}

.header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.wheelSelect{
    cursor: pointer;
    margin: 0px 5px 10px 5px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.manusDistinction{
    width: 20px;
    height: 20px;
    rotate: 90deg;
    display: none;
}

.wheelSelect:hover .manusDistinction{
    display: block;
}


.auguryChoose{
max-width: 1040px;
height: 75vh;
overflow: auto;
overflow-x: hidden;

}


::-webkit-scrollbar-thumb {
    background-image: url('scrollThumb.png'); 
    height: 212px;
    border-radius: 50px;
  }

::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('scrollButtonUp.png'); 
    height: 24px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('scrollButtonDown.png'); 
    height: 24px;
}

::-webkit-scrollbar{
    background-color: transparent;
}

#auguryChooseList{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 5px;
}

#anguryChooseList span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerMenu{
    background-image: url(footerBackground.png);
    background-size: auto;
    background-position: 250px;
    position: sticky;
    bottom: 0px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 -5px 5px -5px #333;
    z-index: 3;
}

#footerCenter{
    width: 100%;
    max-width: 1040px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.changeFont{
    width: 250px;
}

#auguryWheelPlace img{
    width: 100vw;
}

.wheel{
    max-width: 100vw;
    max-height: 65vh;
    cursor: pointer;
}

#dmuch1{
    position: absolute;
    max-width: 29%;
    z-index: 2;
    left: 0px;
    top: 50px;
}

#dmuch2{
    position: absolute;
    max-width: 27%;
    z-index: 2;
    right: 0px;
    top: 50px;
}

#dmuch3{
    position: absolute;
    max-width: 28%;
    right: 0px;
    bottom: 0px;
    z-index: 2;

}

#dmuch4{
    position: absolute;
    max-width: 32%;
    z-index: 2;
    left: 0px;
    bottom: 0px;
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    max-width: 1040px;
}

/* .displayNumber{
    width: 100px;
    height: 50px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
} */

.displayMessage{
    width: 100%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 0 3px 0;
}



#secondScreenGoAndSpin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


.screenCover{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("tło1.png");
    background-size: cover;
    background-attachment: inherit;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
}

.goToSecondWheelScreen{
    scroll-behavior: auto;
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    flex-direction: column;
    align-items: center;
    background-image: url("tło1.png");
    background-size: cover;
    background-attachment:scroll;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

#sectionAugury{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeOut { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeOut { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

.SecondWheelScreenGoBack{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SecondWheelScreenGoBack img{
    height: 50px;
}

.centerFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1040px;
    position: relative;
}

#clickCharacterText{
    padding-bottom: 5px;
}

#characterImage{
    max-height: 60vh;
    max-width: 80vw;
    box-shadow: 0 0 1px 1px #EDCFB2;
    margin-bottom: 5px;
    cursor: pointer;
}

#animalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;  
    transform: rotate(-90deg) translatey(10%);
}

#auguryWheelContainer{
    width: fit-content;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#auguryManus{
    width: 50px;
    transform: translateX(5px);
}

/* #thirdScreen{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.animalWheel{
    /* width: 120vw; */
    max-width: 110vw;
    max-height: 65vh;
}

.fadeIn{
    display: none;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.fadeOut{
    animation: fadeOut 3s;
    -moz-animation: fadeOut 3s; /* Firefox */
    -webkit-animation: fadeOut 3s; /* Safari and Chrome */
    -o-animation: fadeOut 3s; /* Opera */
}


.btn{  
    box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  cursor: pointer;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  z-index: 2;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.btn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .btn:hover:after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  #displayAuguryCoordinates{
       display: none;
       bottom: 0px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       position: absolute;
  }

  #displayAuguryCoordinatesContainer{
    width: 100%;
    height: 15vh;
    position: relative;
    width: 100%;
    border-bottom: 30px solid black;
    border-image: url(liniaDrzeworytowa.png) 33% round;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
  }

  #displayAuguryCoordinatesContainer div{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #clickOnAnimal{
    padding-top: 10px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    font-size: medium; 
    width: 98%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

  #menu{
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    }

  #menu img{
    width: 50px;
    margin-bottom: 5px;
    transition: all .5s ease-in-out;
    }

    #menuTopLine{
        padding-top: 5px;
    }

    .menuTopLineTransition{
        transform: rotate(40deg) translate(5px, 11px)
    }

    .menuMiddleLineTransition{
        transform: translateX(55px);
    }

    .menuBottomLineTransition{
        transform: rotate(-40deg) translate(5px, -11px)
    }

  #menuScreen{
    top: 1vh;
    overflow: auto;
    scroll-behavior: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    height: 90vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("menuTło.png");
    background-size: cover;
    background-attachment:scroll;
    box-shadow: 0 -5px 5px -5px #333;

  }

  .menuScrollUp{
    animation: menuUpAnimation 1s ease-in-out;
    transform-origin: bottom center
  }

  .menuScrollDown{
    animation: menuDownAnimation 1s ease-in-out;
    transform-origin: top center
  }

  @keyframes menuUpAnimation {
    0% {
        transform:translateY(100vh)
    }
   
    100% {
        transform: translateY(0vh)
    }
}

@keyframes menuDownAnimation {
    0% {
        transform:translateY(0vh)
    }
   
    100% {
        transform: translateY(100vh)
    }
}

#menuContent{
    width: 80%;
    height: 85%;
    border: 30px solid black;
    border-image: url(frame.png) 33% round;
}

ul {
    list-style-type: none;
    padding: 5vh 0 0 3vw;
  }

li{
    margin: 0 0 15px 0;
    cursor: pointer;
    width: fit-content;
}
  
#menuSecondContent{
    width: 100%;
    height: 98%;
    background-image: url(menuTło.png);
    background-size: cover;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    box-shadow: 0 0 5px #333;
    justify-content: center;
    align-items: center;
}

.menuScrollLeft{
    animation: menuLeftAnimation 1s ease-in-out;
    transform-origin: right center
}

.menuScrollRight{
    animation: menuRightAnimation 1s ease-in-out;
    transform-origin: right center
}

@keyframes menuLeftAnimation {
    0% {
        transform:translateX(100vw)
    }
   
    100% {
        transform: translateX(0vh)
    }
}

@keyframes menuRightAnimation {
    0% {
        transform:translateX(0vw)
    }
   
    100% {
        transform: translateX(100vw)
    }
}

.inMenuContent{
    max-width: 1040px;
    width: 100%;
    height: 100%;
    position: relative;
}

.inMenuContent h4{
    margin-top: 15px;
}

#goBackMenu{
    bottom: 1vh;
    left: 0px;
    width: 50px;
}


#goBackDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 -5px 5px -5px #333;
}

#goBackDiv img{
    height: 50px;
    margin: 0 5px 0 5px;
}

#secondMenuContent{
    width: 98%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#secondMenuContent div{
    padding: 0 10px 0 10px;
    max-width: 800px;
    margin: 15px 0 15px 0;
}

#secondMenuContent img{
    width: 95%;
}

#sybillaPicture{
    max-width:80vw;
    max-height: 50vh;
    box-shadow: 0 0 1px 1px #EDCFB2;
    cursor: pointer;
}

#sybillaPictureDiv{
    position: relative;
    max-width: 80vw;
    max-height: 50vh;
    margin-bottom: 10px;
    margin-top: 10px;

}

.heart{
    position: absolute;
    left: 75%;
    top: 15px;
    width: 20%;
    cursor: pointer;
    animation: 1.5s ease 0s infinite beat;
}



.element img{
    width: 60px;
}

#sybillaName{
    width: 100%;
    height: 10vh;
    position: relative;
    width: 100%;
    border-bottom: 30px solid black;
    border-image: url(liniaDrzeworytowa.png) 33% round;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}

#auguryText{
    padding: 0px 0 20px 0;
    width: fit-content;
    white-space: nowrap;
}

.frakturFontProperties{
    font-size: 30px;
    font-family: "unifrakturmaguntiabook";

}

.modernFontProprties{
    font-family: 'beryliumregular';
    font-size: 24px;
    line-height: 1.1;

}

@media only screen and (max-width: 5000px) {
    .modernFontProprties {
        font-size: 30px;
    }
    }

@media only screen and (max-width: 600px) {
    .modernFontProprties {
        font-size: 24px;
    }
    }

@media only screen and (max-width: 500px) {
    .modernFontProprties{
    font-size: 22px;
}
}

@media only screen and (max-width: 400px) {
    .modernFontProprties{
    font-size: 19px;
}
}

@media only screen and (max-width: 350px) {
    .modernFontProprties{
    font-size: 17px;
}
}

@media only screen and (max-width: 320px) {
    .modernFontProprties{
    font-size: 16px;
}
}

@media only screen and (max-width: 300px) {
    .modernFontProprties{
        font-size: 15px;
}
}

@media only screen and (max-width: 5000px) {
    .frakturFontProperties {
        font-size: 32px;
    }
    }

@media only screen and (max-width: 600px) {
    .frakturFontProperties {
        font-size: 28px;
    }
    }

@media only screen and (max-width: 500px) {
    .frakturFontProperties{
    font-size: 24px;
}
}

@media only screen and (max-width: 400px) {
    .frakturFontProperties{
    font-size: 21px;
}
}

@media only screen and (max-width: 350px) {
    .frakturFontProperties{
    font-size: 18px;
}
}

@media only screen and (max-width: 300px) {
    .frakturFontProperties{
        font-size: 16px;
}
}

#fourthScreen .container{
    scroll-behavior: auto;
    overflow: auto;
}

#goBackInfo{
    text-decoration: none;
    font-size: medium;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    padding-bottom: 1vh;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #goBackInfo{
        font-size: small;
    }
      }
    


#opisPostaci{
    padding: 10px 10px 20px 10px;
    border-top: 1px solid #333;
}

#wróćDoPoczątku{
    padding: 0 0 0 3vw;
    cursor: pointer;
}

#ozdobnik1SecondWheel{
    position: absolute;
    transform: rotate(88deg);
    width: 37%;
    top: 0px;
    right: 0px;
}

.results{
    padding: 0;
}

.deleteImg{
    width: 40px;
}

.ulubioneDivName{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.ulubioneDivContent{
    width: 100%;
    /* white-space: nowrap; */

}
.ulubioneWróżby1{
    max-width: 1040px;
    position: absolute;
    width: 98%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ulubioneWróżby h4{
    margin: 15px 0px  5px 0px
}

#results0 {
    margin-top: 20px;
}

.ulubioneWróżby1 div{
    margin: 10px 0px  5px 0px;
    width: 90%;
    max-width: 800px;
}

#niePokazujWięcej{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

#zasadyZabawy{
    padding: 0 10px 0 10px;
}

#zeroScreen{
    cursor: pointer;
}

.checkBox{
    width: 40px;
}

#fortunaZero{
    max-height: 80vh;
    max-width: 90vw;
    position: relative;
}

#scrollDown{
    width: 15%;
    height: 10%;
    background-color: transparent;
    /* border: 2px #333 solid; */
    position: absolute;
    left: 40.5%;
    bottom: 2%;
    display: flex;
    justify-content: center;
}

.chevron {
    position: absolute;
    width: 50%;
    height: 10%;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 50%;
    width: 51%;
    background: #3b3b33;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(400%);
    }
    67% {
      opacity: 1;
      transform: translateY(600%);
    }
    100% {
      opacity: 0;
      transform: translateY(800%) scale3d(0.5, 0.5, 0.5);
    }
  }

#fortunaFirstScreen{
    width: 100%;
    height: 100%;
}

#przejdźDoWróżb{
    margin-bottom: 3vh;

}

.element {
	display: inline-block;
}
.element:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	animation: underline 2s infinite;
}
@keyframes underline {
  0% { width: 0%; background-color: black;}
  100% {width: 100%; background-color: transparent;}
}

@keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }
  
#commentary{
    padding: 0 10px 10px 10px;
}

#share{
    width: 30px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}